<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <link th:href="@{/static1/css/sign.css}" rel="stylesheet">
</head>
<body>
<header>
    <p>Profile admin</p>
    <nav>
        <a th:href="@{/admin/lots}">Lots</a>
        <a th:href="@{/admin/users}">Users</a>
        <a th:href="@{/logout}">Log out</a>
    </nav>
</header>

<main>
    <div class="profile-info">
        <h2 >Admin</h2>

    </div>
</main>
</body>
</html>