<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link th:href="@{/static1/css/index.css}" rel="stylesheet">
</head>
<body>
<h2>Welcome</h2>
<form action="/multiply" method="post">
    <label for="number">Enter a number:</label>
    <input id="number" name="number" required>
    <button type="submit">Multiply</button>
</form>
<!--<form>-->
<!--<a href="/phonebook-input">-->
<!---->
<!--        <button type="button">Go to Phone Book</button>-->
<!---->
<!--    <form>-->
<!--        <img th:src="@{/static1/img/daisy.jpg}" alt="daisy" class="fade-in">-->
<!--    </form>-->
<!--</a>-->
<!--</form>-->
<form>
    <a href="/task7">
        <button type="button">Go to form task 7</button>
    </a>
</form>
<form>
    <a href="/app">
        <button type="button">Go to Application</button>
    </a>
</form>
</body>
</html>
<!--<script th:src="@{/static1/js/script.js}"></script>-->