<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phone book</title>
    <link th:href="@{/static1/css/phonebook.css}" rel="stylesheet">
</head>
<body>
<h2>Phone book</h2>
<h3>Add new entry</h3>
<form th:action="@{/phonebook-table}" th:object="${newBook}" method="post">
    <label for="number">Number:</label>
    <input type="text" id="number" th:field="*{number}" required>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" th:field="*{surname}" required>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>
    <button type="submit">Save</button>
</form>
<form>
    <a href="/">Go back to the home page</a>
</form>

</body>
</html>