<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phone book</title>
    <link th:href="@{/static1/css/phonebook.css}" rel="stylesheet">
</head>
<body>
<h2>Phone book</h2>
<table>
    <thead>
    <tr>
<!--        <th>ID</th>-->
        <th>Number</th>
        <th>Surname</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
<!--        <td th:text="${book.id}"></td>-->
        <td th:text="${book.number}"></td>
        <td th:text="${book.surname}"></td>
        <td th:text="${book.name}"></td>
    </tr>
    <div th:if="${message}" class="message" th:text="${message}"></div>
    </tbody>
</table>
<form>
    <a href="/">Go back to the home page</a>
</form>


</body>
</html>