<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link th:href="@{/static1/css/phonebook.css}" rel="stylesheet">
</head>
<body>
<header>
    <p>Users</p>
    <nav>
        <a th:href="@{/admin}">Back to admin</a>
        <a th:href="@{/logout}">Log out</a>
    </nav>
</header>

<main>
<table>
    <thead>
    <tr>
        <!--        <th>ID</th>-->
        <th>Username</th>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <!--        <td th:text="${user.id}"></td>-->
        <td th:text="${user.username}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <form th:action="@{/admin/users/delete/{id}(id=${user.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</main>
</body>
</html>