body {
    font-family: Century Gothic, sans-serif;
    padding: 15px;
}

h2 {
    text-align: center;
}

.container {
    background-color: white;
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

p, a {
    font-size: 18px;
}

a {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.6);
}