body {
    font-family: Century Gothic, sans-serif;
    padding: 15px;
}

h2 {
    text-align: center;
}

form {
    background-color: white;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Century Gothic, sans-serif;
}

button[type="submit"] {
    color: white;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Century Gothic, sans-serif;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

button[type="button"] {
    width: 100%;
    color: white;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Century Gothic, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

button[type="button"]:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1 !important;
}

.grow {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}