body {
    font-family: Century Gothic, sans-serif;
    padding: 15px;
}

h2 {
    text-align: center;
}

form {
    background-color: white;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Century Gothic, sans-serif;
}

button[type="submit"] {
    color: white;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: red;
    font-family: Century Gothic, sans-serif;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

a {
    padding: 10px 70px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.hidden {
    display: none;
}

p {
    border: none;
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}